<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div>
            <form method="post" action="http://192.168.1.18:6253/api/marker/add">
                <input type="hidden" name="id" />
                <label>title
                    <input type="text" name="title" />
                </label>
                <label>resume
                    <input type="text" name="resume" />
                </label>
                <label>img
                    <input type="text" name="img" />
                </label>
                <label>lat
                    <input type="number" step="any" name="lat" />
                </label>
                <label>lng
                    <input type="number" step="any" name="lng" />
                </label>
                <input type="submit" value="add" />
            </form>
        </div>
    </body>
</html>